# dependencies
node_modules/

# build
/dist/
**/dist/

# vite
.vite/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local env files
.env
.env.*

# editor / OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# misc
*.local
